<!--<div class="row">
    <div *ngFor="let character of listCharacters" class="col-md-4">

        <p-card [header]="character.name" subheader="Card Subheader" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
            </ng-template>
            <p>

            </p>
        </p-card>

    </div>
    <div class="card flex justify-content-center">
        <p-paginator (onPageChange)="onPageChange($event)"  [first]="first" [rows]="rows" [totalRecords]="826" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
    </div>
</div> -->


<div class="card flex justify-content-center">
    <p-card header="Filter">
        <form (ngSubmit)="search()">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <span class="p-input-icon-left">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input [ngModelOptions]="{standalone: true}"  [(ngModel)]="Name" type="text" class="p-inputtext-ms" pInputText />
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <p-dropdown [ngModelOptions]="{standalone: true}" name="status" [options]="statusList" [(ngModel)]="status" optionLabel="name" [showClear]="true"
                        placeholder="Select a status"></p-dropdown>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <p-dropdown [ngModelOptions]="{standalone: true}" name="gender" [options]="genderList" [(ngModel)]="gender" optionLabel="name" [showClear]="true"
                        placeholder="Select a gender"></p-dropdown>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Buscar</button>
        </form>
    </p-card>
</div>